:root {
    --alert-color:#948979;
    --alert-font-color:black;
    --text-color: #948979;
    --body-color: #242932;
    --tile-color: #5a6270;
    --tile-active: #DFD0B8;
    --keyboard-color: #191d23;
    --keyboard-font-color: #DFD0B8;
    --tile-width: 70px;
    --tile-height: 70px;
}

:root.light {
    --alert-color:#504a4a;
    --alert-font-color:white;
    --text-color: #534343;
    --body-color: #ccc6bf;
    --tile-color: #633333;
    --tile-active: #534343;
    --keyboard-color: #d9d4cd;
    --keyboard-font-color: #161514;
    --tile-width: 70px;
    --tile-height: 70px;
}


* {
    padding: 0px;
    margin: 0px;
}

.underdog-regular {
    font-family: "Underdog", system-ui;
    font-weight: 400;
    font-style: normal;
}

.oswald-regular {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-color);
    font-family: "Oswald", sans-serif;

}

.header {
    width: 60%;
    height: 100px;
    border: 3px solid var(--text-color);
    border-top: 0px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}


.header-container {
    height: 100%;
    /* default size je 16px, 1em = 16px, 2em = 32px */
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header-left-container,
.header-middle-container,
.header-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left-container,
.header-right-container {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    height: 100%;
    width: 100px;
    /* background-color: var(--keyboard-font-color); */
}

.header-left-div {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hint-img {
    width: auto;
    height: 100%;
}

.header-left-div>button {
    width: 70%;
    height: 70%;
    border-radius: 15px;
    border-width: 0px;
    background-color: transparent;
}

.header-middle-container {
    flex: 1;
    color: var(--text-color);
    font-size: 4em;
}

.header-right-div {
    width: 80%;
    height: 40%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000000 2px solid;
    border-radius: 50px;
}

#day-ico {
    width: 50%;
    height: 100%;
    font-size: 1.5em;
}

#night-ico {
    width: 50%;
    height: 100%;
    font-size: 1.5em;
}

#slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--text-color);
    border-width: 0px;
    cursor: pointer;
}

.main {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex: 1;
}

.game-container {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    display: block;
    width: fit-content;
    align-items: center;
}

.row {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile {
    width: var(--tile-width);
    height: var(--tile-height);
    margin: 5px 5px 0px 0px;
    font-size: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--tile-color);
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    /* apply transition to border-color */
}

.keyboard-container {
    width: 600px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* centers each row */
}

.key-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.key {
    border-radius: 10px;
    width: 45px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-btn {
    font-size: 1.3em;
    width: 100%;
    height: 100%;
    background-color: var(--keyboard-color);
    text-align: center;
    border-radius: inherit;
    align-self: center;
    border-width: 2px;
    color: var(--keyboard-font-color);
    border-color: var(--text-color);
}

.bigger-key {
    width: 65px;
}

#enter:disabled {
    background-color: #aaa;
    color: white;
    border: 2px solid #888;
    cursor: not-allowed;
    opacity: 0.6;
    transition: 0.3s ease;
}

.bigger-key>button {
    font-size: 0.9em;
    background-color: #0b5b9444;
}

.green {
    background-color: #6aaa64;
    color: white;
}

.yellow {
    background-color: #c9b458;
    color: white;
}

.gray {
    background-color: #787c7e;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333131;
    color: white;
    padding: 2px;
    text-align: center;
}